In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Project: Analysis on the WeRateDogs Twitter Archive

## Table of Contents
- Introduction
    - <a href = "#imports"> Notebook Imports </a>
    - <a href = "#constants"> Constants </a>
    - <a href = "#functions"> Function Definitions </a>
- Data Wrangling
    - <a href = "#gathering"> Data Gathering </a>
    - <a href = "#assessing"> Data Assessing </a>
    - <a href = "#cleaning"> Data Cleaning </a>
- <a href = "#analysis"> Data Analysis and Visualization </a>
- Conclusions

## Introduction

> WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. People may want to buy dogs that are humorous or  otherwise. The goal of the project is to analyze and know the humour level of each breed of dog. Each dog is rated differently based on humour level with a common rating denominator of 10 but with _weird_ levels of rating numerator, some higher than 10, but that is all part of the fun of the `@dog_rates` twitter account. From the descriptin of the project, some ratings in the `twitter-archive-enhanced.csv` were not accurately pulled from the `text`.

> Only eight (8) quality issues and two (2) tidiness issues, at minimum, were to be identified and addressed due to the robustness of the data.

> Likely questions to be asked include:
> - <a href="#q1">Do the ratings influence the likes and retweets?</a>
> - <a href="#q2">Is There a Relationship Between Budget and Revenue?</a>
> - <a href="#q3">Do the Cast Influence the Revenue?</a>
> - <a href="#q4">Do the Directors Influence the Revenue?</a>

<a id='imports'></a>
### Notebook Imports

In [2]:
import pandas as pd  # For Data Manipulation
import numpy as np  # For Array Manipulation

import os  # For File Access
import requests  # For Web Access

import tweepy  # For Accessing Twitter's API
import json # To manipulate JSON files

import re  # For Regular Expressions

import matplotlib.pyplot as matpy  # For Data Visualization
import seaborn as sb  # For Data Visualization

<a id='constants'></a>
### Constants

In [3]:
IMAGE_URL = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
IMAGE_FILE = IMAGE_URL.split("/")[-1]
API_FILE = "twitter_json.txt"

API_KEY = input("Enter API key: ")
API_SECRET = input("Enter API secret: ")
ACCESS_TOKEN = input("Enter access token: ")
ACCESS_SECRET = input("Enter access secret: ")

Enter API key:
Enter API secret:
Enter access token:
Enter access secret:

<a id='functions'></a>
### Function Definitions

In [4]:
def summary(df):
    """
    Returns a description of the DataFrame
    """
    info = df.info()
    isna = df.isna().sum()
    duplicates = df.duplicated().any().sum()
    
    print(f"\n \n Duplicates = {duplicates}\n")
    return isna

In [5]:
def clean_test(df):
    """
    Returns the info and head of the cleaned data frame
    """
    info = df.info()
    head = df.sample(5)
    
    return head

## Data Wrangling

<a id='gathering'></a>
#### Data Gathering
1. Getting the data from a file.
2. Downloading the file programmatically and loading it.
3. Getting the data from Twitter's API.

In [6]:
# Reading files
tweets = pd.read_csv("twitter-archive-enhanced.csv")

In [7]:
# Downloading file
response = requests.get(IMAGE_URL)

# os.getcwd() gets your current working directory
with open(os.path.join(os.getcwd(), IMAGE_FILE), "wb") as file:
    file.write(response.content)

In [7]:
# Checking the contents of the working directory
os.listdir(os.getcwd())

['.git',
 '.ipynb_checkpoints',
 'image-predictions.tsv',
 'README.md',
 'twitter-archive-enhanced.csv',
 'twitter_json.txt',
 'WeRateDogs Twitter Archive.ipynb']

In [8]:
# Reading the downloaded file
images = pd.read_csv(IMAGE_FILE, sep = "\t")

In [7]:
# Authenticating the API
auth = tweepy.OAuth1UserHandler(API_KEY, API_SECRET, ACCESS_TOKEN, ACCESS_SECRET)
api = tweepy.API(auth, wait_on_rate_limit = True)
api.verify_credentials()

User(_api=<tweepy.api.API object at 0x000001C492334850>, _json={'id': 1466314425569325058, 'id_str': '1466314425569325058', 'name': 'n.e.d.u.m', 'screen_name': 'n_e_d_u_m', 'location': '', 'description': 'Python Developer | Data Analyst', 'url': None, 'entities': {'description': {'urls': []}}, 'protected': False, 'followers_count': 68, 'friends_count': 60, 'listed_count': 0, 'created_at': 'Thu Dec 02 07:55:26 +0000 2021', 'favourites_count': 371, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 48, 'lang': None, 'status': {'created_at': 'Mon Jun 13 02:12:36 +0000 2022', 'id': 1536169635430682624, 'id_str': '1536169635430682624', 'text': 'Numpy, pandas matplotlib https://t.co/UFJkjkiaxG', 'truncated': False, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/UFJkjkiaxG', 'expanded_url': 'https://twitter.com/oliverjumpertz/status/1535941015437291521', 'display_url': 'twitter.com/oliverjumpertzâ€¦', 'indices': [25, 48]}]}, 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': True, 'quoted_status_id': 1535941015437291521, 'quoted_status_id_str': '1535941015437291521', 'retweet_count': 0, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'lang': 'lv'}, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'F5F8FA', 'profile_background_image_url': None, 'profile_background_image_url_https': None, 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1466376429738893314/2Cl96Jq-_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1466376429738893314/2Cl96Jq-_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1466314425569325058/1638446359', 'profile_link_color': '1DA1F2', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': True, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': [], 'suspended': False, 'needs_phone_verification': False}, id=1466314425569325058, id_str='1466314425569325058', name='n.e.d.u.m', screen_name='n_e_d_u_m', location='', description='Python Developer | Data Analyst', url=None, entities={'description': {'urls': []}}, protected=False, followers_count=68, friends_count=60, listed_count=0, created_at=datetime.datetime(2021, 12, 2, 7, 55, 26, tzinfo=datetime.timezone.utc), favourites_count=371, utc_offset=None, time_zone=None, geo_enabled=False, verified=False, statuses_count=48, lang=None, status=Status(_api=<tweepy.api.API object at 0x000001C492334850>, _json={'created_at': 'Mon Jun 13 02:12:36 +0000 2022', 'id': 1536169635430682624, 'id_str': '1536169635430682624', 'text': 'Numpy, pandas matplotlib https://t.co/UFJkjkiaxG', 'truncated': False, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/UFJkjkiaxG', 'expanded_url': 'https://twitter.com/oliverjumpertz/status/1535941015437291521', 'display_url': 'twitter.com/oliverjumpertzâ€¦', 'indices': [25, 48]}]}, 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': True, 'quoted_status_id': 1535941015437291521, 'quoted_status_id_str': '1535941015437291521', 'retweet_count': 0, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'possibly_sensitive': False, 'lang': 'lv'}, created_at=datetime.datetime(2022, 6, 13, 2, 12, 36, tzinfo=datetime.timezone.utc), id=1536169635430682624, id_str='1536169635430682624', text='Numpy, pandas matplotlib https://t.co/UFJkjkiaxG', truncated=False, entities={'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': [{'url': 'https://t.co/UFJkjkiaxG', 'expanded_url': 'https://twitter.com/oliverjumpertz/status/1535941015437291521', 'display_url': 'twitter.com/oliverjumpertzâ€¦', 'indices': [25, 48]}]}, source='Twitter for Android', source_url='http://twitter.com/download/android', in_reply_to_status_id=None, in_reply_to_status_id_str=None, in_reply_to_user_id=None, in_reply_to_user_id_str=None, in_reply_to_screen_name=None, geo=None, coordinates=None, place=None, contributors=None, is_quote_status=True, quoted_status_id=1535941015437291521, quoted_status_id_str='1535941015437291521', retweet_count=0, favorite_count=0, favorited=False, retweeted=False, possibly_sensitive=False, lang='lv'), contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='F5F8FA', profile_background_image_url=None, profile_background_image_url_https=None, profile_background_tile=False, profile_image_url='http://pbs.twimg.com/profile_images/1466376429738893314/2Cl96Jq-_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/1466376429738893314/2Cl96Jq-_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/1466314425569325058/1638446359', profile_link_color='1DA1F2', profile_sidebar_border_color='C0DEED', profile_sidebar_fill_color='DDEEF6', profile_text_color='333333', profile_use_background_image=True, has_extended_profile=True, default_profile=True, default_profile_image=False, following=False, follow_request_sent=False, notifications=False, translator_type='none', withheld_in_countries=[], suspended=False, needs_phone_verification=False)

In [8]:
tweet_ids = tweets["tweet_id"].values
print(len(tweet_ids))
tweet_ids

2356

array([892420643555336193, 892177421306343426, 891815181378084864, ...,
       666033412701032449, 666029285002620928, 666020888022790149],
      dtype=int64)

In [9]:
%%time  # To calculate the time it will take to run the code 
failed = {}  # To store the failed retrievals
step = 0

# Opening the file in write mode
with open(API_FILE, "w") as file:
    # looping through each id
    for ids in tweet_ids:  
        step += 1
        if step % 5 == 0:
            print(f"{step}: {ids}")
        
        # Fetching the data
        try:
            tweet = api.get_status(ids, tweet_mode='extended')
            json.dump(tweet._json, file)
            file.write('\n')
            
        # Storing the errors
        except tweepy.errors.TweepyException as tte:
            failed[ids] = tte
            pass

print(failed)
len(failed)

5: 891327558926688256
10: 890240255349198849
15: 889531135344209921
20: 888202515573088257
25: 887343217045368832
30: 886366144734445568
35: 885528943205470208
40: 884876753390489601
45: 883838122936631299
50: 882762694511734784
55: 881666595344535552
60: 880872448815771648
65: 879674319642796034
70: 879050749262655488
75: 878316110768087041
80: 877556246731214848
85: 876484053909872640
90: 875021211251597312
95: 874012996292530176
100: 872967104147763200
105: 872261713294495745
110: 871166179821445120
115: 870656317836468226
120: 869772420881756160
125: 868639477480148993
130: 867421006826221569
135: 866686824827068416
140: 865359393868664832
145: 863907417377173506
150: 863079547188785154
155: 862096992088072192
160: 860981674716409858
165: 860184849394610176
170: 859196978902773760
175: 858107933456039936
180: 857214891891077121
185: 856526610513747968
190: 855860136149123072
195: 855245323840757760
200: 854120357044912130
205: 852936405516943360
210: 852226086759018497
215: 851464819735769094
220: 850145622816686080
225: 849336543269576704
230: 848212111729840128
235: 847617282490613760
240: 846874817362120707
245: 846042936437604353
250: 845306882940190720
255: 844580511645339650
260: 843235543001513987
265: 842163532590374912
270: 841320156043304961
275: 840698636975636481
280: 839990271299457024
285: 838921590096166913
290: 838201503651401729
295: 837482249356513284
300: 836989968035819520
305: 836380477523124226
310: 835536468978302976
315: 835172783151792128
320: 834477809192075265
325: 834086379323871233
330: 833479644947025920
335: 832682457690300417
340: 832273440279240704
345: 832032802820481025
350: 831650051525054464
355: 831262627380748289
360: 829878982036299777
365: 829141528400556032
370: 828650029636317184
375: 828372645993398273
380: 827653905312006145
385: 826958653328592898
390: 826476773533745153
395: 825829644528148480
400: 824796380199809024
405: 824025158776213504
410: 823333489516937216
415: 822859134160621569
420: 822244816520155136
425: 821522889702862852
430: 821107785811234820
435: 820494788566847489
440: 819952236453363712
445: 819238181065359361
450: 819004803107983360
455: 818536468981415936
460: 817827839487737858
465: 817415592588222464
470: 816829038950027264
475: 816091915477250048
480: 815745968457060357
485: 814638523311648768
490: 813910438903693312
495: 813187593374461952
500: 813127251579564032
505: 813051746834595840
510: 812466873996607488
515: 811627233043480576
520: 810284430598270976
525: 809220051211603969
530: 808344865868283904
535: 807106840509214720
540: 806576416489959424
545: 805932879469572096
550: 805207613751304193
555: 803773340896923648
560: 803276597545603072
565: 802323869084381190
570: 801958328846974976
575: 801127390143516673
580: 800513324630806528
585: 800141422401830912
590: 799308762079035393
595: 798705661114773508
600: 798682547630837760
605: 798585098161549313
610: 797545162159308800
615: 796759840936919040
620: 796149749086875649
625: 795464331001561088
630: 794355576146903043
635: 793614319594401792
640: 793256262322548741
645: 793180763617361921
650: 792913359805018113
655: 791821351946420224
660: 791406955684368384
665: 790723298204217344
670: 790227638568808452
675: 789599242079838210
680: 789137962068021249
685: 788178268662984705
690: 787717603741622272
695: 786729988674449408
700: 786286427768250368
705: 785872687017132033
710: 785170936622350336
715: 784057939640352768
720: 783391753726550016
725: 782747134529531904
730: 781955203444699136
735: 781251288990355457
740: 780601303617732608
745: 780192070812196864
750: 779124354206535695
755: 778764940568104960
760: 778396591732486144
765: 777953400541634568
770: 777189768882946048
775: 776218204058357768
780: 775842724423557120
785: 775096608509886464
790: 773985732834758656
795: 773336787167145985
800: 772826264096874500
805: 772117678702071809
810: 771500966810099713
815: 771014301343748096
820: 770655142660169732
825: 769940425801170949
830: 768909767477751808
835: 768473857036525572
840: 767191397493538821
845: 766693177336135680
850: 766008592277377025
855: 765222098633691136
860: 763183847194451968
865: 762464539388485633
870: 761745352076779520
875: 761292947749015552
880: 760641137271070720
885: 760190180481531904
890: 759793422261743616
895: 759197388317847553
900: 758828659922702336
905: 758355060040593408
910: 757725642876129280
915: 757393109802180609
920: 756526248105566208
925: 755206590534418437
930: 754482103782404096
935: 753420520834629632
940: 753039830821511168
945: 752682090207055872
950: 752309394570878976
955: 751793661361422336
960: 751251247299190784
965: 750506206503038976
970: 750132105863102464
975: 750056684286914561
980: 749981277374128128
985: 749317047558017024
990: 748932637671223296
995: 748568946752774144
1000: 748220828303695873
1005: 747816857231626240
1010: 747512671126323200
1015: 747204161125646336
1020: 746790600704425984
1025: 746507379341139972
1030: 745712589599014916
1035: 745057283344719872
1040: 744234799360020481
1045: 743609206067040256
1050: 743222593470234624
1055: 742423170473463808
1060: 741743634094141440
1065: 740995100998766593
1070: 740365076218183684
1075: 739844404073074688
1080: 739238157791694849
1085: 738402415918125056
1090: 737800304142471168
1095: 736736130620620800
1100: 735991953473572864
1105: 735137028879360001
1110: 733828123016450049
1115: 732732193018155009
1120: 731285275100512256
1125: 730211855403241472
1130: 729463711119904772
1135: 728653952833728512
1140: 728015554473250816
1145: 727286334147182592
1150: 726828223124897792
1155: 725458796924002305
1160: 724046343203856385
1165: 723179728551723008
1170: 720785406564900865
1175: 720059472081784833
1180: 719367763014393856
1185: 718631497683582976
1190: 718246886998687744
1195: 717428917016076293
1200: 716791146589110272
1205: 716080869887381504
1210: 715696743237730304
1215: 715200624753819648
1220: 714631576617938945
1225: 714214115368108032
1230: 713761197720473600
1235: 712717840512598017
1240: 712092745624633345
1245: 711743778164514816
1250: 711306686208872448
1255: 710658690886586372
1260: 710272297844797440
1265: 709918798883774466
1270: 709519240576036864
1275: 709198395643068416
1280: 708845821941387268
1285: 708479650088034305
1290: 708149363256774660
1295: 707995814724026368
1300: 707738799544082433
1305: 707411934438625280
1310: 707059547140169728
1315: 706901761596989440
1320: 706516534877929472
1325: 706169069255446529
1330: 705898680587526145
1335: 705428427625635840
1340: 704871453724954624
1345: 704499785726889984
1350: 704134088924532736
1355: 703631701117943808
1360: 703356393781329922
1365: 702899151802126337
1370: 702332542343577600
1375: 701952816642965504
1380: 701545186879471618
1385: 700796979434098688
1390: 700167517596164096
1395: 700002074055016451
1400: 699691744225525762
1405: 699370870310113280
1410: 699060279947165696
1415: 698710712454139905
1420: 698342080612007937
1425: 697990423684476929
1430: 697596423848730625
1435: 697270446429966336
1440: 696894894812565505
1445: 696713835009417216
1450: 696100768806522880
1455: 695446424020918272
1460: 695064344191721472
1465: 694356675654983680
1470: 694183373896572928
1475: 693644216740769793
1480: 693582294167244802
1485: 693231807727280129
1490: 692905862751522816
1495: 692568918515392513
1500: 692187005137076224
1505: 691820333922455552
1510: 691459709405118465
1515: 691090071332753408
1520: 690735892932222976
1525: 690597161306841088
1530: 690248561355657216
1535: 689993469801164801
1540: 689661964914655233
1545: 689517482558820352
1550: 689255633275777024
1555: 688898160958271489
1560: 688547210804498433
1565: 688116655151435777
1570: 687807801670897665
1575: 687480748861947905
1580: 687312378585812992
1585: 687096057537363968
1590: 686683045143953408
1595: 686377065986265092
1600: 686034024800862208
1605: 685906723014619143
1610: 685547936038666240
1615: 685307451701334016
1620: 684959798585110529
1625: 684880619965411328
1630: 684567543613382656
1635: 684225744407494656
1640: 684177701129875456
1645: 683852578183077888
1650: 683742671509258241
1655: 683449695444799489
1660: 683098815881154561
1665: 682788441537560576
1670: 682429480204398592
1675: 682259524040966145
1680: 682032003584274432
1685: 681679526984871937

1690: 681340665377193984
1695: 681281657291280384
1700: 680970795137544192
1705: 680889648562991104
1710: 680609293079592961
1715: 680440374763077632
1720: 680161097740095489
1725: 680085611152338944
1730: 679862121895714818
1735: 679736210798047232
1740: 679511351870550016
1745: 679158373988876288
1750: 679047485189439488
1755: 678798276842360832
1760: 678740035362037760
1765: 678424312106393600
1770: 678380236862578688
1775: 678023323247357953
1780: 677716515794329600
1785: 677662372920729601
1790: 677547928504967168
1795: 677328882937298944
1800: 677187300187611136
1805: 676946864479084545
1810: 676864501615042560
1815: 676617503762681856
1820: 676590572941893632
1825: 676496375194980353
1830: 676237365392908289
1835: 676121918416756736
1840: 675891555769696257
1845: 675849018447167488
1850: 675781562965868544
1855: 675534494439489536
1860: 675497103322386432
1865: 675362609739206656
1870: 675153376133427200
1875: 675135153782571009
1880: 675015141583413248
1885: 674800520222154752
1890: 674774481756377088
1895: 674743008475090944
1900: 674670581682434048
1905: 674632714662858753
1910: 674422304705744896
1915: 674330906434379776
1920: 674269164442398721
1925: 674075285688614912
1930: 674042553264685056
1935: 674014384960745472
1940: 673887867907739649
1945: 673708611235921920
1950: 673689733134946305
1955: 673656262056419329
1960: 673576835670777856
1965: 673350198937153538
1970: 673317986296586240
1975: 673148804208660480
1980: 672980819271634944
1985: 672902681409806336
1990: 672828477930868736
1995: 672604026190569472
2000: 672523490734551040
2005: 672466075045466113
2010: 672254177670729728
2015: 672222792075620352
2020: 672125275208069120
2025: 671891728106971137
2030: 671855973984772097
2035: 671743150407421952
2040: 671547767500775424
2045: 671533943490011136
2050: 671504605491109889
2055: 671390180817915904
2060: 671186162933985280
2065: 671154572044468225
2070: 671134062904504320
2075: 670842764863651840
2080: 670826280409919488
2085: 670807719151067136
2090: 670789397210615808
2095: 670778058496974848
2100: 670717338665226240
2105: 670668383499735048
2110: 670449342516494336
2115: 670433248821026816
2120: 670417414769758208
2125: 670374371102445568
2130: 670290420111441920
2135: 670069087419133954
2140: 670037189829525505
2145: 669942763794931712
2150: 669684865554620416
2155: 669625907762618368
2160: 669571471778410496
2165: 669371483794317312
2170: 669353438988365824
2175: 669216679721873412
2180: 669006782128353280
2185: 668988183816871936
2190: 668967877119254528
2195: 668892474547511297
2200: 668779399630725120
2205: 668636665813057536
2210: 668623201287675904
2215: 668544745690562560
2220: 668496999348633600
2225: 668291999406125056
2230: 668248472370458624
2235: 668190681446379520
2240: 667937095915278337
2245: 667886921285246976
2250: 667861340749471744
2255: 667782464991965184
2260: 667550904950915073
2265: 667538891197542400
2270: 667509364010450944
2275: 667455448082227200
2280: 667405339315146752
2285: 667192066997374976
2290: 667174963120574464
2295: 667138269671505920
2300: 667065535570550784
2305: 666983947667116034
2310: 666804364988780544
2315: 666701168228331520
2320: 666447344410484738
2325: 666421158376562688
2330: 666373753744588802
2335: 666293911632134144
2340: 666102155909144576
2345: 666071193221509120
2350: 666051853826850816
2355: 666029285002620928
2356
{888202515573088257: NotFound('404 Not Found\n144 - No status found with that ID.'), 873697596434513921: NotFound('404 Not Found\n144 - No status found with that ID.'), 872668790621863937: NotFound('404 Not Found\n144 - No status found with that ID.'), 872261713294495745: NotFound('404 Not Found\n144 - No status found with that ID.'), 869988702071779329: NotFound('404 Not Found\n144 - No status found with that ID.'), 866816280283807744: NotFound('404 Not Found\n144 - No status found with that ID.'), 861769973181624320: NotFound('404 Not Found\n144 - No status found with that ID.'), 856602993587888130: NotFound('404 Not Found\n144 - No status found with that ID.'), 856330835276025856: NotFound('404 Not Found\n34 - Sorry, that page does not exist.'), 851953902622658560: NotFound('404 Not Found\n144 - No status found with that ID.'), 851861385021730816: NotFound('404 Not Found\n144 - No status found with that ID.'), 845459076796616705: NotFound('404 Not Found\n144 - No status found with that ID.'), 844704788403113984: NotFound('404 Not Found\n144 - No status found with that ID.'), 842892208864923648: NotFound('404 Not Found\n144 - No status found with that ID.'), 837366284874571778: NotFound('404 Not Found\n144 - No status found with that ID.'), 837012587749474308: NotFound('404 Not Found\n144 - No status found with that ID.'), 829374341691346946: NotFound('404 Not Found\n144 - No status found with that ID.'), 827228250799742977: NotFound('404 Not Found\n144 - No status found with that ID.'), 812747805718642688: NotFound('404 Not Found\n144 - No status found with that ID.'), 802247111496568832: NotFound('404 Not Found\n144 - No status found with that ID.'), 779123168116150273: NotFound('404 Not Found\n144 - No status found with that ID.'), 775096608509886464: NotFound('404 Not Found\n144 - No status found with that ID.'), 771004394259247104: Forbidden('403 Forbidden\n179 - Sorry, you are not authorized to see this status.'), 770743923962707968: NotFound('404 Not Found\n144 - No status found with that ID.'), 766864461642756096: NotFound('404 Not Found\n144 - No status found with that ID.'), 759923798737051648: NotFound('404 Not Found\n144 - No status found with that ID.'), 759566828574212096: NotFound('404 Not Found\n144 - No status found with that ID.'), 754011816964026368: NotFound('404 Not Found\n144 - No status found with that ID.'), 680055455951884288: NotFound('404 Not Found\n144 - No status found with that ID.')}
CPU times: total: 1min 30s
Wall time: 51min 42s

In [9]:
os.listdir(os.getcwd())

['.git',
 '.ipynb_checkpoints',
 'image-predictions.tsv',
 'README.md',
 'twitter-archive-enhanced.csv',
 'twitter_json.txt',
 'WeRateDogs Twitter Archive.ipynb']

In [10]:
# Creatig a list to hold the cleaned dictionaries
api_list = [json.loads(line) for line in open(API_FILE, "r")]
api_list[0]

{'created_at': 'Tue Aug 01 16:23:56 +0000 2017',
 'id': 892420643555336193,
 'id_str': '892420643555336193',
 'full_text': "This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU",
 'truncated': False,
 'display_text_range': [0, 85],
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 892420639486877696,
    'id_str': '892420639486877696',
    'indices': [86, 109],
    'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'url': 'https://t.co/MgUWQ76dJU',
    'display_url': 'pic.twitter.com/MgUWQ76dJU',
    'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
     'small': {'w': 540, 'h': 528, 'resize': 'fit'},
     'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 892420639486877696,
    'id_str': '892420639486877696',
    'indices': [86, 109],
    'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'url': 'https://t.co/MgUWQ76dJU',
    'display_url': 'pic.twitter.com/MgUWQ76dJU',
    'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
     'small': {'w': 540, 'h': 528, 'resize': 'fit'},
     'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogsÂ®',
  'screen_name': 'dog_rates',
  'location': 'all our links âžœ',
  'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook âžœ WeRateDogs partnerships@weratedogs.com | nonprofit: @15outof10 â €â €â €â €â €â €â €â €â €â €â €â €',
  'url': 'https://t.co/YPc2XqmwyC',
  'entities': {'url': {'urls': [{'url': 'https://t.co/YPc2XqmwyC',
      'expanded_url': 'http://links.weratedogs.com',
      'display_url': 'links.weratedogs.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 9274911,
  'friends_count': 21,
  'listed_count': 7427,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 146750,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 15673,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1532010275708223491/-SBRbLoH_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1617810473',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': True,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none',
  'withheld_in_countries': []},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 7010,
 'favorite_count': 33823,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

In [11]:
api_df = []  # List to hold all the dictionaries for the data frame
# Looping through the clean dictionaries
for dicts in api_list:
    # Gathering entities
    tweet_id = dicts["id"]
    likes = dicts["favorite_count"]
    retweets = dicts["retweet_count"]
    
    # Creating the data frame dictionary
    api_dict = {
        "tweet_id": tweet_id, 
        "likes": likes, 
        "retweets": retweets
    }

    api_df.append(api_dict)
        
api_df

[{'tweet_id': 892420643555336193, 'likes': 33823, 'retweets': 7010},
 {'tweet_id': 892177421306343426, 'likes': 29337, 'retweets': 5302},
 {'tweet_id': 891815181378084864, 'likes': 22069, 'retweets': 3482},
 {'tweet_id': 891689557279858688, 'likes': 36948, 'retweets': 7228},
 {'tweet_id': 891327558926688256, 'likes': 35321, 'retweets': 7764},
 {'tweet_id': 891087950875897856, 'likes': 17815, 'retweets': 2602},
 {'tweet_id': 890971913173991426, 'likes': 10368, 'retweets': 1666},
 {'tweet_id': 890729181411237888, 'likes': 56882, 'retweets': 15759},
 {'tweet_id': 890609185150312448, 'likes': 24531, 'retweets': 3624},
 {'tweet_id': 890240255349198849, 'likes': 27969, 'retweets': 6101},
 {'tweet_id': 890006608113172480, 'likes': 27047, 'retweets': 6154},
 {'tweet_id': 889880896479866881, 'likes': 24570, 'retweets': 4168},
 {'tweet_id': 889665388333682689, 'likes': 42073, 'retweets': 8353},
 {'tweet_id': 889638837579907072, 'likes': 23683, 'retweets': 3718},
 {'tweet_id': 889531135344209921, 'likes': 13356, 'retweets': 1884},
 {'tweet_id': 889278841981685760, 'likes': 22132, 'retweets': 4447},
 {'tweet_id': 888917238123831296, 'likes': 25647, 'retweets': 3765},
 {'tweet_id': 888804989199671297, 'likes': 22481, 'retweets': 3537},
 {'tweet_id': 888554962724278272, 'likes': 17319, 'retweets': 2879},
 {'tweet_id': 888078434458587136, 'likes': 19155, 'retweets': 2895},
 {'tweet_id': 887705289381826560, 'likes': 26633, 'retweets': 4535},
 {'tweet_id': 887517139158093824, 'likes': 40740, 'retweets': 9856},
 {'tweet_id': 887473957103951883, 'likes': 60209, 'retweets': 15031},
 {'tweet_id': 887343217045368832, 'likes': 29598, 'retweets': 8816},
 {'tweet_id': 887101392804085760, 'likes': 26993, 'retweets': 4993},
 {'tweet_id': 886983233522544640, 'likes': 30396, 'retweets': 6321},
 {'tweet_id': 886736880519319552, 'likes': 10501, 'retweets': 2632},
 {'tweet_id': 886680336477933568, 'likes': 19740, 'retweets': 3737},
 {'tweet_id': 886366144734445568, 'likes': 18553, 'retweets': 2631},
 {'tweet_id': 886267009285017600, 'likes': 105, 'retweets': 4},
 {'tweet_id': 886258384151887873, 'likes': 24532, 'retweets': 5293},
 {'tweet_id': 886054160059072513, 'likes': 0, 'retweets': 93},
 {'tweet_id': 885984800019947520, 'likes': 28623, 'retweets': 5617},
 {'tweet_id': 885528943205470208, 'likes': 31610, 'retweets': 5331},
 {'tweet_id': 885518971528720385, 'likes': 18012, 'retweets': 3108},
 {'tweet_id': 885311592912609280, 'likes': 0, 'retweets': 15442},
 {'tweet_id': 885167619883638784, 'likes': 19264, 'retweets': 3670},
 {'tweet_id': 884925521741709313, 'likes': 67305, 'retweets': 15032},
 {'tweet_id': 884876753390489601, 'likes': 24390, 'retweets': 4676},
 {'tweet_id': 884562892145688576, 'likes': 21333, 'retweets': 3913},
 {'tweet_id': 884441805382717440, 'likes': 23874, 'retweets': 4793},
 {'tweet_id': 884247878851493888, 'likes': 63341, 'retweets': 16931},
 {'tweet_id': 884162670584377345, 'likes': 17947, 'retweets': 2506},
 {'tweet_id': 883838122936631299, 'likes': 19177, 'retweets': 2865},
 {'tweet_id': 883482846933004288, 'likes': 40218, 'retweets': 8274},
 {'tweet_id': 883360690899218434, 'likes': 19957, 'retweets': 3083},
 {'tweet_id': 883117836046086144, 'likes': 32526, 'retweets': 5537},
 {'tweet_id': 882992080364220416, 'likes': 20991, 'retweets': 3248},
 {'tweet_id': 882762694511734784, 'likes': 24804, 'retweets': 4099},
 {'tweet_id': 882627270321602560, 'likes': 24611, 'retweets': 5064},
 {'tweet_id': 882268110199369728, 'likes': 39209, 'retweets': 9636},
 {'tweet_id': 882045870035918850, 'likes': 25739, 'retweets': 4084},
 {'tweet_id': 881906580714921986, 'likes': 21451, 'retweets': 2855},
 {'tweet_id': 881666595344535552, 'likes': 44572, 'retweets': 8963},
 {'tweet_id': 881633300179243008, 'likes': 113, 'retweets': 8},
 {'tweet_id': 881536004380872706, 'likes': 43462, 'retweets': 13404},
 {'tweet_id': 881268444196462592, 'likes': 20491, 'retweets': 4494},
 {'tweet_id': 880935762899988482, 'likes': 15056, 'retweets': 2333},
 {'tweet_id': 880872448815771648, 'likes': 18718, 'retweets': 3200},
 {'tweet_id': 880465832366813184, 'likes': 25039, 'retweets': 5215},
 {'tweet_id': 880221127280381952, 'likes': 23678, 'retweets': 3468},
 {'tweet_id': 880095782870896641, 'likes': 24348, 'retweets': 3654},
 {'tweet_id': 879862464715927552, 'likes': 19718, 'retweets': 2930},
 {'tweet_id': 879674319642796034, 'likes': 282, 'retweets': 9},
 {'tweet_id': 879492040517615616, 'likes': 20716, 'retweets': 2628},
 {'tweet_id': 879415818425184262, 'likes': 92908, 'retweets': 37463},
 {'tweet_id': 879376492567855104, 'likes': 14867, 'retweets': 2650},
 {'tweet_id': 879130579576475649, 'likes': 0, 'retweets': 5743},
 {'tweet_id': 879050749262655488, 'likes': 19815, 'retweets': 3957},
 {'tweet_id': 879008229531029506, 'likes': 16787, 'retweets': 2244},
 {'tweet_id': 878776093423087618, 'likes': 17138, 'retweets': 3435},
 {'tweet_id': 878604707211726852, 'likes': 26443, 'retweets': 5930},
 {'tweet_id': 878404777348136964, 'likes': 0, 'retweets': 1078},
 {'tweet_id': 878316110768087041, 'likes': 0, 'retweets': 5531},
 {'tweet_id': 878281511006478336, 'likes': 6781, 'retweets': 1078},
 {'tweet_id': 878057613040115712, 'likes': 37155, 'retweets': 5743},
 {'tweet_id': 877736472329191424, 'likes': 69324, 'retweets': 15814},
 {'tweet_id': 877611172832227328, 'likes': 0, 'retweets': 70},
 {'tweet_id': 877556246731214848, 'likes': 19909, 'retweets': 3169},
 {'tweet_id': 877316821321428993, 'likes': 24168, 'retweets': 4348},
 {'tweet_id': 877201837425926144, 'likes': 23874, 'retweets': 4629},
 {'tweet_id': 876838120628539392, 'likes': 18221, 'retweets': 2805},
 {'tweet_id': 876537666061221889, 'likes': 21050, 'retweets': 3974},
 {'tweet_id': 876484053909872640, 'likes': 16574, 'retweets': 2001},
 {'tweet_id': 876120275196170240, 'likes': 24697, 'retweets': 3905},
 {'tweet_id': 875747767867523072, 'likes': 22119, 'retweets': 3584},
 {'tweet_id': 875144289856114688, 'likes': 19425, 'retweets': 4158},
 {'tweet_id': 875097192612077568, 'likes': 24248, 'retweets': 5118},
 {'tweet_id': 875021211251597312, 'likes': 22558, 'retweets': 3974},
 {'tweet_id': 874680097055178752, 'likes': 24582, 'retweets': 3919},
 {'tweet_id': 874434818259525634, 'likes': 0, 'retweets': 12218},
 {'tweet_id': 874296783580663808, 'likes': 22978, 'retweets': 3483},
 {'tweet_id': 874057562936811520, 'likes': 20127, 'retweets': 3378},
 {'tweet_id': 874012996292530176, 'likes': 30125, 'retweets': 8596},
 {'tweet_id': 873580283840344065, 'likes': 21387, 'retweets': 3344},
 {'tweet_id': 873337748698140672, 'likes': 0, 'retweets': 1331},
 {'tweet_id': 873213775632977920, 'likes': 6323, 'retweets': 1331},
 {'tweet_id': 872967104147763200, 'likes': 24094, 'retweets': 4564},
 {'tweet_id': 872820683541237760, 'likes': 13081, 'retweets': 3168},
 {'tweet_id': 872620804844003328, 'likes': 18332, 'retweets': 3068},
 {'tweet_id': 872486979161796608, 'likes': 36112, 'retweets': 7722},
 {'tweet_id': 872122724285648897, 'likes': 30242, 'retweets': 6832},
 {'tweet_id': 871879754684805121, 'likes': 33122, 'retweets': 9249},
 {'tweet_id': 871762521631449091, 'likes': 17894, 'retweets': 2970},
 {'tweet_id': 871515927908634625, 'likes': 17894, 'retweets': 2942},
 {'tweet_id': 871166179821445120, 'likes': 0, 'retweets': 4895},
 {'tweet_id': 871102520638267392, 'likes': 18556, 'retweets': 4685},
 {'tweet_id': 871032628920680449, 'likes': 20169, 'retweets': 3226},
 {'tweet_id': 870804317367881728, 'likes': 29813, 'retweets': 5285},
 {'tweet_id': 870726314365509632, 'likes': 105, 'retweets': 3},
 {'tweet_id': 870656317836468226, 'likes': 10898, 'retweets': 2210},
 {'tweet_id': 870374049280663552, 'likes': 73985, 'retweets': 22761},
 {'tweet_id': 870308999962521604, 'likes': 19487, 'retweets': 3550},
 {'tweet_id': 870063196459192321, 'likes': 32432, 'retweets': 7078},
 {'tweet_id': 869772420881756160, 'likes': 38038, 'retweets': 8699},
 {'tweet_id': 869702957897576449, 'likes': 25076, 'retweets': 5387},
 {'tweet_id': 869596645499047938, 'likes': 14216, 'retweets': 2640},
 {'tweet_id': 869227993411051520, 'likes': 18146, 'retweets': 3201},
 {'tweet_id': 868880397819494401, 'likes': 58012, 'retweets': 12266},
 {'tweet_id': 868639477480148993, 'likes': 0, 'retweets': 1754},
 {'tweet_id': 868622495443632128, 'likes': 23654, 'retweets': 4474},
 {'tweet_id': 868552278524837888, 'likes': 8971, 'retweets': 1754},
 {'tweet_id': 867900495410671616, 'likes': 21617, 'retweets': 3573},
 {'tweet_id': 867774946302451713, 'likes': 30285, 'retweets': 6258},
 {'tweet_id': 867421006826221569, 'likes': 14353, 'retweets': 2118},
 {'tweet_id': 867072653475098625, 'likes': 0, 'retweets': 101},
 {'tweet_id': 867051520902168576, 'likes': 28728, 'retweets': 6791},
 {'tweet_id': 866720684873056260, 'likes': 17879, 'retweets': 4133},
 {'tweet_id': 866686824827068416, 'likes': 17143, 'retweets': 2973},
 {'tweet_id': 866450705531457537, 'likes': 108948, 'retweets': 30220},
 {'tweet_id': 866334964761202691, 'likes': 46648, 'retweets': 12218},
 {'tweet_id': 866094527597207552, 'likes': 0, 'retweets': 7172},
 {'tweet_id': 865718153858494464, 'likes': 22943, 'retweets': 4853},
 {'tweet_id': 865359393868664832, 'likes': 23627, 'retweets': 4295},
 {'tweet_id': 865006731092295680, 'likes': 25054, 'retweets': 6676},
 {'tweet_id': 864873206498414592, 'likes': 28864, 'retweets': 7499},
 {'tweet_id': 864279568663928832, 'likes': 13078, 'retweets': 2585},
 {'tweet_id': 864197398364647424, 'likes': 26653, 'retweets': 7594},
 {'tweet_id': 863907417377173506, 'likes': 18454, 'retweets': 3594},
 {'tweet_id': 863553081350529029, 'likes': 13689, 'retweets': 3635},
 {'tweet_id': 863471782782697472, 'likes': 0, 'retweets': 2092},
 {'tweet_id': 863432100342583297, 'likes': 21322, 'retweets': 4560},
 {'tweet_id': 863427515083354112, 'likes': 1961, 'retweets': 80},
 {'tweet_id': 863079547188785154, 'likes': 7910, 'retweets': 953},
 {'tweet_id': 863062471531167744, 'likes': 7531, 'retweets': 2092},
 {'tweet_id': 862831371563274240, 'likes': 17226, 'retweets': 4461},
 {'tweet_id': 862722525377298433, 'likes': 15345, 'retweets': 3091},
 {'tweet_id': 862457590147678208, 'likes': 18296, 'retweets': 4258},
 {'tweet_id': 862096992088072192, 'likes': 66359, 'retweets': 20017},
 {'tweet_id': 861383897657036800, 'likes': 32321, 'retweets': 9275},
 {'tweet_id': 861288531465048066, 'likes': 15361, 'retweets': 3594},
 {'tweet_id': 861005113778896900, 'likes': 15001, 'retweets': 3340},
 {'tweet_id': 860981674716409858, 'likes': 0, 'retweets': 1858},
 {'tweet_id': 860924035999428608, 'likes': 0, 'retweets': 679},
 {'tweet_id': 860563773140209665, 'likes': 6730, 'retweets': 1858},
 {'tweet_id': 860524505164394496, 'likes': 21278, 'retweets': 4608},
 {'tweet_id': 860276583193509888, 'likes': 16594, 'retweets': 3075},
 {'tweet_id': 860184849394610176, 'likes': 15031, 'retweets': 5129},
 {'tweet_id': 860177593139703809, 'likes': 0, 'retweets': 26778},
 {'tweet_id': 859924526012018688, 'likes': 17653, 'retweets': 3587},
 {'tweet_id': 859851578198683649, 'likes': 13983, 'retweets': 3072},
 {'tweet_id': 859607811541651456, 'likes': 16847, 'retweets': 1366},
 {'tweet_id': 859196978902773760, 'likes': 80634, 'retweets': 26302},
 {'tweet_id': 859074603037188101, 'likes': 30461, 'retweets': 11982},
 {'tweet_id': 858860390427611136, 'likes': 0, 'retweets': 7088},
 {'tweet_id': 858843525470990336, 'likes': 14134, 'retweets': 3029},
 {'tweet_id': 858471635011153920, 'likes': 19506, 'retweets': 4267},
 {'tweet_id': 858107933456039936, 'likes': 14251, 'retweets': 2540},
 {'tweet_id': 857989990357356544, 'likes': 14501, 'retweets': 2268},
 {'tweet_id': 857746408056729600, 'likes': 30838, 'retweets': 9359},
 {'tweet_id': 857393404942143489, 'likes': 5313, 'retweets': 1444},
 {'tweet_id': 857263160327368704, 'likes': 18271, 'retweets': 3985},
 {'tweet_id': 857214891891077121, 'likes': 204, 'retweets': 16},
 {'tweet_id': 857062103051644929, 'likes': 0, 'retweets': 148},
 {'tweet_id': 857029823797047296, 'likes': 17059, 'retweets': 3493},
 {'tweet_id': 856543823941562368, 'likes': 14850, 'retweets': 2551},
 {'tweet_id': 856526610513747968, 'likes': 10831, 'retweets': 1654},
 {'tweet_id': 856288084350160898, 'likes': 488, 'retweets': 15},
 {'tweet_id': 856282028240666624, 'likes': 25264, 'retweets': 5586},
 {'tweet_id': 855862651834028034, 'likes': 303, 'retweets': 21},
 {'tweet_id': 855860136149123072, 'likes': 4411, 'retweets': 853},
 {'tweet_id': 855857698524602368, 'likes': 10867, 'retweets': 1863},
 {'tweet_id': 855851453814013952, 'likes': 41927, 'retweets': 16143},
 {'tweet_id': 855818117272018944, 'likes': 24295, 'retweets': 4819},
 {'tweet_id': 855459453768019968, 'likes': 27128, 'retweets': 7313},
 {'tweet_id': 855245323840757760, 'likes': 0, 'retweets': 5273},
 {'tweet_id': 855138241867124737, 'likes': 0, 'retweets': 36},
 {'tweet_id': 854732716440526848, 'likes': 20710, 'retweets': 5361},
 {'tweet_id': 854482394044301312, 'likes': 26616, 'retweets': 6034},
 {'tweet_id': 854365224396361728, 'likes': 17224, 'retweets': 4157},
 {'tweet_id': 854120357044912130, 'likes': 29265, 'retweets': 6601},
 {'tweet_id': 854010172552949760, 'likes': 14846, 'retweets': 2797},
 {'tweet_id': 853760880890318849, 'likes': 26114, 'retweets': 5118},
 {'tweet_id': 853639147608842240, 'likes': 31585, 'retweets': 8890},
 {'tweet_id': 853299958564483072, 'likes': 14186, 'retweets': 3173},
 {'tweet_id': 852936405516943360, 'likes': 0, 'retweets': 1790},
 {'tweet_id': 852912242202992640, 'likes': 8264, 'retweets': 1602},
 {'tweet_id': 852672615818899456, 'likes': 13660, 'retweets': 1915},
 {'tweet_id': 852553447878664193, 'likes': 14919, 'retweets': 3124},
 {'tweet_id': 852311364735569921, 'likes': 30396, 'retweets': 8890},
 {'tweet_id': 852226086759018497, 'likes': 18370, 'retweets': 6104},
 {'tweet_id': 852189679701164033, 'likes': 10580, 'retweets': 1420},
 {'tweet_id': 851591660324737024, 'likes': 14981, 'retweets': 3128},
 {'tweet_id': 851464819735769094, 'likes': 22292, 'retweets': 6322},
 {'tweet_id': 851224888060895234, 'likes': 19073, 'retweets': 5178},
 {'tweet_id': 850753642995093505, 'likes': 28191, 'retweets': 8097},
 {'tweet_id': 850380195714523136, 'likes': 12095, 'retweets': 2335},
 {'tweet_id': 850333567704068097, 'likes': 3194, 'retweets': 301},
 {'tweet_id': 850145622816686080, 'likes': 15066, 'retweets': 3402},
 {'tweet_id': 850019790995546112, 'likes': 18805, 'retweets': 4382},
 {'tweet_id': 849776966551130114, 'likes': 27949, 'retweets': 6832},
 {'tweet_id': 849668094696017920, 'likes': 0, 'retweets': 4455},
 {'tweet_id': 849412302885593088, 'likes': 14692, 'retweets': 2836},
 {'tweet_id': 849336543269576704, 'likes': 10575, 'retweets': 1695},
 {'tweet_id': 849051919805034497, 'likes': 39069, 'retweets': 7642},
 {'tweet_id': 848690551926992896, 'likes': 23307, 'retweets': 3932},
 {'tweet_id': 848324959059550208, 'likes': 22866, 'retweets': 4167},
 {'tweet_id': 848213670039564288, 'likes': 7547, 'retweets': 646},
 {'tweet_id': 848212111729840128, 'likes': 15057, 'retweets': 2722},
 {'tweet_id': 847978865427394560, 'likes': 0, 'retweets': 2929},
 {'tweet_id': 847971574464610304, 'likes': 0, 'retweets': 396},
 {'tweet_id': 847962785489326080, 'likes': 21763, 'retweets': 4588},
 {'tweet_id': 847842811428974592, 'likes': 5021, 'retweets': 1193},
 {'tweet_id': 847617282490613760, 'likes': 6474, 'retweets': 376},
 {'tweet_id': 847606175596138505, 'likes': 17377, 'retweets': 3096},
 {'tweet_id': 847251039262605312, 'likes': 19002, 'retweets': 3925},
 {'tweet_id': 847157206088847362, 'likes': 18404, 'retweets': 5265},
 {'tweet_id': 847116187444137987, 'likes': 19901, 'retweets': 2881},
 {'tweet_id': 846874817362120707, 'likes': 18651, 'retweets': 3556},
 {'tweet_id': 846514051647705089, 'likes': 41270, 'retweets': 10408},
 {'tweet_id': 846505985330044928, 'likes': 13094, 'retweets': 2766},
 {'tweet_id': 846153765933735936, 'likes': 29140, 'retweets': 8189},
 {'tweet_id': 846139713627017216, 'likes': 28857, 'retweets': 9180},
 {'tweet_id': 846042936437604353, 'likes': 14840, 'retweets': 2595},
 {'tweet_id': 845812042753855489, 'likes': 27074, 'retweets': 7886},
 {'tweet_id': 845677943972139009, 'likes': 23477, 'retweets': 4389},
 {'tweet_id': 845397057150107648, 'likes': 7098, 'retweets': 1622},
 {'tweet_id': 845306882940190720, 'likes': 21663, 'retweets': 4871},
 {'tweet_id': 845098359547420673, 'likes': 0, 'retweets': 6954},
 {'tweet_id': 844979544864018432, 'likes': 12698, 'retweets': 2318},
 {'tweet_id': 844973813909606400, 'likes': 13954, 'retweets': 2860},
 {'tweet_id': 844580511645339650, 'likes': 15310, 'retweets': 2822},
 {'tweet_id': 844223788422217728, 'likes': 12719, 'retweets': 1994},
 {'tweet_id': 843981021012017153, 'likes': 14153, 'retweets': 2703},
 {'tweet_id': 843856843873095681, 'likes': 19995, 'retweets': 4176},
 {'tweet_id': 843604394117681152, 'likes': 15738, 'retweets': 2485},
 {'tweet_id': 843235543001513987, 'likes': 20011, 'retweets': 5430},
 {'tweet_id': 842846295480000512, 'likes': 14242, 'retweets': 3319},
 {'tweet_id': 842765311967449089, 'likes': 6301, 'retweets': 1177},
 {'tweet_id': 842535590457499648, 'likes': 16947, 'retweets': 3191},
 {'tweet_id': 842163532590374912, 'likes': 22782, 'retweets': 5273},
 {'tweet_id': 842115215311396866, 'likes': 13059, 'retweets': 2764},
 {'tweet_id': 841833993020538882, 'likes': 0, 'retweets': 13606},
 {'tweet_id': 841680585030541313, 'likes': 24077, 'retweets': 7173},
 {'tweet_id': 841439858740625411, 'likes': 11758, 'retweets': 3338},
 {'tweet_id': 841320156043304961, 'likes': 18447, 'retweets': 5030},
 {'tweet_id': 841314665196081154, 'likes': 14771, 'retweets': 4246},
 {'tweet_id': 841077006473256960, 'likes': 21373, 'retweets': 4895},
 {'tweet_id': 840761248237133825, 'likes': 0, 'retweets': 1622},
 {'tweet_id': 840728873075638272, 'likes': 0, 'retweets': 14623},
 {'tweet_id': 840698636975636481, 'likes': 165, 'retweets': 2},
 {'tweet_id': 840696689258311684, 'likes': 11501, 'retweets': 892},
 {'tweet_id': 840632337062862849, 'likes': 8442, 'retweets': 1622},
 {'tweet_id': 840370681858686976, 'likes': 15365, 'retweets': 4188},
 {'tweet_id': 840268004936019968, 'likes': 17933, 'retweets': 5234},
 {'tweet_id': 839990271299457024, 'likes': 12559, 'retweets': 2073},
 {'tweet_id': 839549326359670784, 'likes': 25630, 'retweets': 7088},
 {'tweet_id': 839290600511926273, 'likes': 0, 'retweets': 133},
 {'tweet_id': 839239871831150596, 'likes': 25272, 'retweets': 5956},
 {'tweet_id': 838952994649550848, 'likes': 18410, 'retweets': 3668},
 {'tweet_id': 838921590096166913, 'likes': 10437, 'retweets': 1859},
 {'tweet_id': 838916489579200512, 'likes': 0, 'retweets': 31},
 {'tweet_id': 838831947270979586, 'likes': 0, 'retweets': 10058},
 {'tweet_id': 838561493054533637, 'likes': 10265, 'retweets': 1234},
 {'tweet_id': 838476387338051585, 'likes': 21017, 'retweets': 4355},
 {'tweet_id': 838201503651401729, 'likes': 0, 'retweets': 9225},
 {'tweet_id': 838150277551247360, 'likes': 1569, 'retweets': 304},
 {'tweet_id': 838085839343206401, 'likes': 133, 'retweets': 1},
 {'tweet_id': 838083903487373313, 'likes': 16496, 'retweets': 2850},
 {'tweet_id': 837820167694528512, 'likes': 31892, 'retweets': 7172},
 {'tweet_id': 837482249356513284, 'likes': 3613, 'retweets': 409},
 {'tweet_id': 837471256429613056, 'likes': 12006, 'retweets': 2065},
 {'tweet_id': 837110210464448512, 'likes': 15087, 'retweets': 2186},
 {'tweet_id': 836989968035819520, 'likes': 11976, 'retweets': 2121},
 {'tweet_id': 836753516572119041, 'likes': 18165, 'retweets': 4271},
 {'tweet_id': 836677758902222849, 'likes': 11864, 'retweets': 2028},
 {'tweet_id': 836648853927522308, 'likes': 0, 'retweets': 509},
 {'tweet_id': 836397794269200385, 'likes': 0, 'retweets': 25146},
 {'tweet_id': 836380477523124226, 'likes': 13928, 'retweets': 2750},
 {'tweet_id': 836260088725786625, 'likes': 19987, 'retweets': 3989},
 {'tweet_id': 836001077879255040, 'likes': 17935, 'retweets': 3903},
 {'tweet_id': 835685285446955009, 'likes': 0, 'retweets': 7440},

In [12]:
likes = pd.DataFrame(api_df)

<a id='assessing'></a>
#### Data Assessing

In [13]:
tweets.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2225,668286279830867968,NaN,NaN,2015-11-22 04:33:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Rusty. Rusty's dreaming of a world where ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668286279...,11,10,Rusty,None,None,None,None
1193,717537687239008257,NaN,NaN,2016-04-06 02:21:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",People please. This is a Deadly Mediterranean ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/717537687...,11,10,a,None,None,None,None
1078,739485634323156992,NaN,NaN,2016-06-05 15:54:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kyle. He's a heavy drinker and an avid...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/739485634...,6,10,Kyle,None,None,None,None
1776,677961670166224897,NaN,NaN,2015-12-18 21:20:32 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",This is Izzy. She's showing off the dance move...,NaN,NaN,NaN,https://vine.co/v/iKuMDuYV0aZ,11,10,Izzy,None,None,None,None
877,760893934457552897,NaN,NaN,2016-08-03 17:43:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Wishes. He has the day off. Daily stru...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/760893934...,11,10,Wishes,doggo,None,None,None

In [14]:
tweets.rating_numerator.head()

0    13
1    13
2    12
3    13
4    12
Name: rating_numerator, dtype: int64

In [15]:
summary(tweets)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB


 Duplicates = 0

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [16]:
images.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2012,879050749262655488,https://pbs.twimg.com/media/DDMD_phXoAQ1qf0.jpg,1,tabby,0.311861,False,window_screen,0.169123,False,Egyptian_cat,0.132932,False
209,669972011175813120,https://pbs.twimg.com/media/CUw3_QiUEAA8cT9.jpg,1,teddy,0.953071,False,koala,0.007027,False,fur_coat,0.005368,False
166,668981893510119424,https://pbs.twimg.com/media/CUize-0WEAAerAK.jpg,1,jellyfish,0.447246,False,coral_reef,0.238625,False,goldfish,0.040227,False
399,673686845050527744,https://pbs.twimg.com/media/CVlqi_AXIAASlcD.jpg,1,Pekinese,0.185903,True,guinea_pig,0.172951,False,pug,0.166183,True
1433,773547596996571136,https://pbs.twimg.com/media/Crwxb5yWgAAX5P_.jpg,1,Norwegian_elkhound,0.372202,True,Chesapeake_Bay_retriever,0.137187,True,malamute,0.071436,True

In [17]:
summary(images)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB


 Duplicates = 0

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [18]:
images["img_num"].value_counts

<bound method IndexOpsMixin.value_counts of 0       1
1       1
2       1
3       1
4       1
       ..
2070    2
2071    1
2072    1
2073    1
2074    1
Name: img_num, Length: 2075, dtype: int64>

In [19]:
likes.sample(5)

                tweet_id  likes  retweets
893   756303284449767430   3707      1006
400   822462944365645825  26330     13163
884   757597904299253760      0       278
209   850019790995546112  18805      4382
1686  680440374763077632   1330       443

In [20]:
summary(likes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2327 entries, 0 to 2326
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2327 non-null   int64
 1   likes     2327 non-null   int64
 2   retweets  2327 non-null   int64
dtypes: int64(3)
memory usage: 54.7 KB


 Duplicates = 0

tweet_id    0
likes       0
retweets    0
dtype: int64

##### Quality
`tweets`
- Remove retweets
- Dropping `source` column and `rating_denominator` column
- Renaming `rating_numerator` column
- Incorrect `ratings`
- Missing values for `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`
- Incorrect data types for `tweet_id`, `in_reply_to_status_id`, `in_reply_to_user_id`, `timestamp`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`

`images`
- Incorrect datatype for `tweet_id`
- Renaming every column

`likes`
- Incorrect datatype for `tweet_id`

##### Tidy
`tweets`
- Single variable split into multiple variables
- Combine `likes` and `retweets`

<a id='cleaning'></a>
#### Data Cleaning

In [21]:
tweets_clean = tweets.copy()
images_clean = images.copy()
likes_clean = likes.copy()

##### _Define_
_**Fix missing values**: Since there is no way to get the values, and they are also meant to be unique, I will drop the columns_
##### _Code_

In [22]:
tweets_clean.drop(["in_reply_to_status_id", "in_reply_to_user_id", "retweeted_status_id", 
                "retweeted_status_user_id", "retweeted_status_timestamp", "expanded_urls"], 
              axis = 1, inplace = True)

##### _Test_

In [23]:
clean_test(tweets_clean)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2356 non-null   int64
 1   timestamp           2356 non-null   object
 2   source              2356 non-null   object
 3   text                2356 non-null   object
 4   rating_numerator    2356 non-null   int64
 5   rating_denominator  2356 non-null   int64
 6   name                2356 non-null   object
 7   doggo               2356 non-null   object
 8   floofer             2356 non-null   object
 9   pupper              2356 non-null   object
 10  puppo               2356 non-null   object
dtypes: int64(3), object(8)
memory usage: 202.6+ KB

,tweet_id,timestamp,source,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2250,667832474953625600,2015-11-20 22:30:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",THE EYES 12/10\n\nI'm sorry. These are suppose...,12,10,None,None,None,None,None
1162,723688335806480385,2016-04-23 01:41:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Reginald. He starts screaming at rando...,12,10,Reginald,None,None,None,None
1801,676957860086095872,2015-12-16 02:51:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",10/10 I'd follow this dog into battle no quest...,10,10,None,None,None,None,None
1480,693486665285931008,2016-01-30 17:31:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Lincoln. He doesn't understand his new...,11,10,Lincoln,None,None,None,None
570,801854953262350336,2016-11-24 18:28:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,11,10,None,None,None,None,None

##### _Define_
_**Merge dog stages**: The various dogs stages are meant to be in one column_
##### _Code_

In [69]:
# Replacing Nones with empty strings for easier manipulation
tweets_clean.doggo.replace('None','',inplace = True)
tweets_clean.floofer.replace('None','',inplace = True)
tweets_clean.pupper.replace('None','',inplace = True)
tweets_clean.puppo.replace('None','',inplace = True)

In [70]:
tweets_clean["dog_stages"] = tweets_clean.doggo + tweets_clean.floofer + tweets_clean.pupper + tweets_clean.puppo

In [71]:
tweets_clean["dog_stages"].value_counts()

                1829
pupper           224
doggo             75
puppo             24
doggopupper       10
floofer            9
doggopuppo         1
doggofloofer       1
Name: dog_stages, dtype: int64

In [72]:
tweets_clean["dog_stages"].replace(",", ", ", inplace=e = True)

In [76]:
tweets_clean.loc[tweets_clean.dog_stages == '', 'dog_stages'] = np.nan

In [78]:
tweets_clean.drop(["doggo", "floofer", "pupper", "puppo"], axis = 1, inplace = True)

##### _Test_

In [79]:
clean_test(tweets_clean)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2173 entries, 0 to 2355
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    2173 non-null   object
 1   timestamp   2173 non-null   datetime64[ns, UTC]
 2   text        2173 non-null   object
 3   ratings     2173 non-null   float64
 4   name        2173 non-null   object
 5   dog_stages  344 non-null    object
dtypes: datetime64[ns, UTC](1), float64(1), object(4)
memory usage: 118.8+ KB

,tweet_id,timestamp,text,ratings,name,dog_stages
2270,667502640335572993,2015-11-20 00:40:05+00:00,Say hello to Hall and Oates. Oates is winking ...,11.0,Hall,NaN
1849,675781562965868544,2015-12-12 20:57:34+00:00,Say hello to Buddah. He was Waldo for Hallowee...,11.0,Buddah,NaN
2305,666837028449972224,2015-11-18 04:35:11+00:00,My goodness. Very rare dog here. Large. Tail d...,3.0,None,NaN
1742,679462823135686656,2015-12-23 00:45:35+00:00,Meet Hurley. He's the curly one. He hugs every...,11.0,Hurley,NaN
2170,669351434509529089,2015-11-25 03:06:32+00:00,This is Sully. He's a Leviticus Galapagos. Ver...,10.0,Sully,NaN

##### _Define_
_**Remove all retweets**: Removing every row where the `text` startswith "[RT](https://stackoverflow.com/a/46693056/18102026)" and removing corresponding `likes` and `retweets`_
##### _Code_

In [24]:
id_val = tweets_clean[tweets_clean.text.str.startswith("RT")].tweet_id.values

In [25]:
tweets_clean = tweets_clean[~tweets_clean.text.str.startswith("RT")]

In [26]:
count = 0
for ids in id_val:
    try:
        loc = likes_clean.loc[likes_clean.tweet_id == ids].index[0]
        likes_clean.drop(index = loc, inplace = True)
    except IndexError:
        count += 1
count

21

##### _Test_

In [27]:
tweets_clean[tweets_clean.text.str.startswith("RT")]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [28]:
clean_test(likes_clean)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2165 entries, 0 to 2326
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2165 non-null   int64
 1   likes     2165 non-null   int64
 2   retweets  2165 non-null   int64
dtypes: int64(3)
memory usage: 67.7 KB

                tweet_id  likes  retweets
1227  710609963652087808   4446      2164
1988  672160042234327040    765       304
2264  667152164079423490  42313     14623
84    876120275196170240  24697      3905
1627  683391852557561860   7059      2181

##### _Define_
_**Dropping the `source` and `rating_denominator` column**: I don't think the source column will be important in my analysis and the rating denominator is the same for all dogs_
##### _Code_

In [29]:
tweets_clean.drop(["source", "rating_denominator"], axis = 1, inplace = True)

##### _Test_

In [30]:
clean_test(tweets_clean)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2173 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tweet_id          2173 non-null   int64
 1   timestamp         2173 non-null   object
 2   text              2173 non-null   object
 3   rating_numerator  2173 non-null   int64
 4   name              2173 non-null   object
 5   doggo             2173 non-null   object
 6   floofer           2173 non-null   object
 7   pupper            2173 non-null   object
 8   puppo             2173 non-null   object
dtypes: int64(2), object(7)
memory usage: 169.8+ KB

,tweet_id,timestamp,text,rating_numerator,name,doggo,floofer,pupper,puppo
168,859607811541651456,2017-05-03 03:17:27 +0000,Sorry for the lack of posts today. I came home...,13,None,None,None,None,puppo
426,821407182352777218,2017-01-17 17:21:47 +0000,This is Sundance. He's a doggo drummer. Even s...,14,Sundance,doggo,None,None,None
1318,706538006853918722,2016-03-06 17:52:42 +0000,"This is Oliver (pronounced ""Ricardo""). He's a ...",11,Oliver,None,None,None,None
1649,683742671509258241,2016-01-03 20:12:10 +0000,Meet Sebastian. He's a womanizer. Romantic af....,11,Sebastian,None,None,None,None
846,766313316352462849,2016-08-18 16:38:26 +0000,This is Oscar. He has legendary eyebrows and h...,12,Oscar,None,None,None,None

##### _Define_
_**Renaming the `rating_numerator` column**: I'll change it to just `ratings` since the rating_denominator has been removed_
##### _Code_

In [31]:
tweets_clean.rename({"rating_numerator": "ratings"}, axis = 1, inplace = True)

##### _Test_

In [61]:
clean_test(tweets_clean)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2173 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet_id   2173 non-null   object
 1   timestamp  2173 non-null   datetime64[ns, UTC]
 2   text       2173 non-null   object
 3   ratings    2173 non-null   float64
 4   name       2173 non-null   object
 5   doggo      2173 non-null   object
 6   floofer    2173 non-null   object
 7   pupper     2173 non-null   object
 8   puppo      2173 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), object(7)
memory usage: 169.8+ KB

,tweet_id,timestamp,text,ratings,name,doggo,floofer,pupper,puppo
45,883482846933004288,2017-07-08 00:28:19+00:00,This is Bella. She hopes her smile made you sm...,13.5,Bella,None,None,None,None
1941,673715861853720576,2015-12-07 04:09:13+00:00,This is a heavily opinionated dog. Loves walls...,4.0,a,None,None,None,None
1277,709042156699303936,2016-03-13 15:43:18+00:00,This is Klevin. He's addicted to sandwiches (y...,9.0,Klevin,None,None,None,None
510,812372279581671427,2016-12-23 19:00:19+00:00,This is Moe. He's a fetty woof. Got a cardboar...,13.0,Moe,None,None,None,None
314,835172783151792128,2017-02-24 17:01:22+00:00,We only rate dogs. Please don't send in any no...,12.0,None,None,None,None,None

##### _Define_
_**Renaming every column in the `images` data frame**: Giving every column comprehesensive names_
##### _Code_

In [63]:
images_clean.rename({
    "img_num": "image_number",
    "p1": "prediction1", 
    "p1_conf": "prediction1_confidence", 
    "p1_dog": "prediction1_dog", 
    "p2": "prediction2", 
    "p2_conf": "prediction2_confidence", 
    "p2_dog": "prediction2_dog", 
    "p3": "prediction3", 
    "p3_conf": "prediction3_confidence", 
    "p3_dog": "prediction3_dog"
}, axis = 1, inplace = True)

##### _Test_

In [64]:
clean_test(images_clean)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tweet_id                2075 non-null   object
 1   jpg_url                 2075 non-null   object
 2   image_number            2075 non-null   int64
 3   prediction1             2075 non-null   object
 4   prediction1_confidence  2075 non-null   float64
 5   prediction1_dog         2075 non-null   bool
 6   prediction2             2075 non-null   object
 7   prediction2_confidence  2075 non-null   float64
 8   prediction2_dog         2075 non-null   bool
 9   prediction3             2075 non-null   object
 10  prediction3_confidence  2075 non-null   float64
 11  prediction3_dog         2075 non-null   bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

,tweet_id,jpg_url,image_number,prediction1,prediction1_confidence,prediction1_dog,prediction2,prediction2_confidence,prediction2_dog,prediction3,prediction3_confidence,prediction3_dog
699,684594889858887680,https://pbs.twimg.com/media/CYAra7JWsAACPZH.jpg,1,Weimaraner,0.948688,True,English_setter,0.035352,True,Brittany_spaniel,0.003879,True
895,699446877801091073,https://pbs.twimg.com/media/CbTvNpoW0AEemnx.jpg,3,Pembroke,0.969400,True,Cardigan,0.026059,True,Chihuahua,0.003505,True
31,666421158376562688,https://pbs.twimg.com/media/CT-aggCXAAIMfT3.jpg,1,Blenheim_spaniel,0.906777,True,cocker_spaniel,0.090346,True,Shih-Tzu,0.001117,True
741,687317306314240000,https://pbs.twimg.com/media/CYnXcLEUkAAIQOM.jpg,1,Shih-Tzu,0.747208,True,Maltese_dog,0.091025,True,Lhasa,0.035788,True
195,669583744538451968,https://pbs.twimg.com/media/CUrW3DWXIAAiRqk.jpg,1,candle,0.174315,False,lampshade,0.120407,False,plunger,0.072099,False

##### _Define_
_**Getting correct `ratings`**: Making sure all ratings are correct_
##### _Code_

In [32]:
fix = tweets_clean[tweets_clean.text.str.contains("(\d+\.\d*\/\d+)")].text.values

C:\Users\USER\AppData\Local\Temp\ipykernel_8368\1190547266.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  fix = tweets_clean[tweets_clean.text.str.contains("(\d+\.\d*\/\d+)")].text.values

In [53]:
for item in fix:
    val = tweets_clean["text"] == item
    tweets_clean.loc[val, "ratings"] = re.findall(r"\d+\.\d+", item)

##### _Test_

In [60]:
tweets_clean[tweets_clean.text.str.contains(r"(\d+\.\d*\/\d+)")]

C:\Users\USER\AppData\Local\Temp\ipykernel_8368\2036559046.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  tweets_clean[tweets_clean.text.str.contains(r"(\d+\.\d*\/\d+)")]

,tweet_id,timestamp,text,ratings,name,doggo,floofer,pupper,puppo
45,883482846933004288,2017-07-08 00:28:19+00:00,This is Bella. She hopes her smile made you sm...,13.50,Bella,None,None,None,None
695,786709082849828864,2016-10-13 23:23:56+00:00,"This is Logan, the Chow who lived. He solemnly...",9.75,Logan,None,None,None,None
763,778027034220126208,2016-09-20 00:24:34+00:00,This is Sophie. She's a Jubilant Bush Pupper. ...,11.27,Sophie,None,None,pupper,None
1689,681340665377193984,2015-12-28 05:07:27+00:00,I've been told there's a slight possibility he...,9.50,None,None,None,None,None
1712,680494726643068929,2015-12-25 21:06:00+00:00,Here we have uncovered an entire battalion of ...,11.26,None,None,None,None,None

In [55]:
clean_test(tweets_clean)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2173 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet_id   2173 non-null   object
 1   timestamp  2173 non-null   datetime64[ns, UTC]
 2   text       2173 non-null   object
 3   ratings    2173 non-null   object
 4   name       2173 non-null   object
 5   doggo      2173 non-null   object
 6   floofer    2173 non-null   object
 7   pupper     2173 non-null   object
 8   puppo      2173 non-null   object
dtypes: datetime64[ns, UTC](1), object(8)
memory usage: 169.8+ KB

,tweet_id,timestamp,text,ratings,name,doggo,floofer,pupper,puppo
1742,679462823135686656,2015-12-23 00:45:35+00:00,Meet Hurley. He's the curly one. He hugs every...,11,Hurley,None,None,None,None
1760,678708137298427904,2015-12-20 22:46:44+00:00,Here we are witnessing a wild field pupper. Lo...,10,None,None,None,pupper,None
1424,697990423684476929,2016-02-12 03:47:39+00:00,This is Doug. He's a Draconian Jabbawockee. Ra...,11,Doug,None,None,None,None
1072,739979191639244800,2016-06-07 00:36:02+00:00,This is Nollie. She's waving at you. If you do...,12,Nollie,None,None,None,None
134,866686824827068416,2017-05-22 16:06:55+00:00,This is Lili. She can't believe you betrayed h...,12,Lili,None,None,None,None

Due to the removal of the retweets, the number of rows has dropped from 2356 to 2173. Since most columns that had incorrect datatypes have been removed, that leaves only `tweet_id` and `timestamp`. Also I noticed that after pulling the `ratings` from the `text`, the data type changed to `object`.

##### _Define_
_**Changing data type**: Changing the data type of `tweet_id` because it is not going to be used for calculations. Also changing the `timestamp` column_
##### _Code_

In [37]:
tweets_clean.tweet_id = tweets_clean.tweet_id.astype(object)

In [38]:
tweets_clean.timestamp = pd.to_datetime(tweets.timestamp)

In [58]:
tweets_clean.ratings = tweets_clean.ratings.astype("float64")

In [40]:
images_clean.tweet_id = images_clean.tweet_id.astype(object)

In [41]:
likes_clean.tweet_id = likes_clean.tweet_id.astype(object)

##### _Test_

In [59]:
clean_test(tweets_clean)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2173 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet_id   2173 non-null   object
 1   timestamp  2173 non-null   datetime64[ns, UTC]
 2   text       2173 non-null   object
 3   ratings    2173 non-null   float64
 4   name       2173 non-null   object
 5   doggo      2173 non-null   object
 6   floofer    2173 non-null   object
 7   pupper     2173 non-null   object
 8   puppo      2173 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), object(7)
memory usage: 169.8+ KB

,tweet_id,timestamp,text,ratings,name,doggo,floofer,pupper,puppo
1201,716447146686459905,2016-04-03 02:08:05+00:00,This is Ozzy. He's acrobatic af. Legendary pup...,13.0,Ozzy,None,None,pupper,None
356,830583320585068544,2017-02-12 01:04:29+00:00,This is Lilly. She just parallel barked. Kindl...,13.0,Lilly,None,None,None,None
929,754482103782404096,2016-07-17 01:05:25+00:00,This is Milo. He's currently plotting his reve...,10.0,Milo,None,None,None,None
2325,666418789513326592,2015-11-17 00:53:15+00:00,This is Walter. He is an Alaskan Terrapin. Lov...,10.0,Walter,None,None,None,None
1964,673350198937153538,2015-12-06 03:56:12+00:00,This is Bella. She's a Genghis Flopped Canuck....,9.0,Bella,None,None,None,None

In [43]:
clean_test(images)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
296,671362598324076544,https://pbs.twimg.com/media/CVEouDRXAAEe8mt.jpg,1,tub,0.393616,False,bathtub,0.383522,False,swimming_trunks,0.077301,False
1868,844223788422217728,https://pbs.twimg.com/media/C7dJCnqU4AAswat.jpg,1,Labrador_retriever,0.719510,True,Chesapeake_Bay_retriever,0.122019,True,Newfoundland,0.038828,True
1182,738402415918125056,https://pbs.twimg.com/media/Cj9VEs_XAAAlTai.jpg,1,cocker_spaniel,0.346695,True,Blenheim_spaniel,0.193905,True,Chihuahua,0.078000,True
215,670055038660800512,https://pbs.twimg.com/media/CUyDgChWUAAmNSI.jpg,1,snail,0.563631,False,slug,0.296649,False,bolete,0.031839,False
313,671561002136281088,https://pbs.twimg.com/media/CVHdK-7WwAAsuyc.jpg,1,Gordon_setter,0.469373,True,black-and-tan_coonhound,0.270893,True,Rottweiler,0.153233,True

In [44]:
clean_test(likes_clean)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2165 entries, 0 to 2326
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2165 non-null   object
 1   likes     2165 non-null   int64
 2   retweets  2165 non-null   int64
dtypes: int64(2), object(1)
memory usage: 67.7+ KB

                tweet_id  likes  retweets
1577  685681090388975616   1889       110
1841  675149409102012420   3357      1503
1340  702539513671897089   2655       875
858   760252756032651264   3714       798
1504  690005060500217858   3392      1540

##### _Define_
_**Merging**: Merging the tweets dataframe to the likes and retweets dataframe_
##### _Code_

In [45]:
tweets.tweet_id.values not in likes.tweet_id.values

C:\Users\USER\AppData\Local\Temp\ipykernel_8368\3668186927.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  tweets.tweet_id.values not in likes.tweet_id.values

True

This implies that there are tweets in the `tweets` dataframe not in the `likes` dataframe as we could observe from the `.info()` method of the two dataframes.

In [46]:
data = tweets_clean.merge(likes_clean, on = "tweet_id")

##### _Test_

In [47]:
clean_test(data)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2165 entries, 0 to 2164
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet_id   2165 non-null   object
 1   timestamp  2165 non-null   datetime64[ns, UTC]
 2   text       2165 non-null   object
 3   ratings    2165 non-null   int64
 4   name       2165 non-null   object
 5   doggo      2165 non-null   object
 6   floofer    2165 non-null   object
 7   pupper     2165 non-null   object
 8   puppo      2165 non-null   object
 9   likes      2165 non-null   int64
 10  retweets   2165 non-null   int64
dtypes: datetime64[ns, UTC](1), int64(3), object(7)
memory usage: 203.0+ KB

,tweet_id,timestamp,text,ratings,name,doggo,floofer,pupper,puppo,likes,retweets
873,741793263812808706,2016-06-12 00:44:30+00:00,When your crush won't pay attention to you. Bo...,10,None,None,None,None,None,4220,1388
2042,668226093875376128,2015-11-22 00:34:50+00:00,Sneaky dog here. Tuba player has no clue. 10/1...,10,None,None,None,None,None,247,85
1631,676590572941893632,2015-12-15 02:32:17+00:00,After some outrage from the crowd. Bubbles is ...,7,None,None,None,None,None,841,110
104,870063196459192321,2017-05-31 23:43:25+00:00,Meet Clifford. He's quite large. Also red. Goo...,14,Clifford,None,None,None,None,32432,7078
1494,681981167097122816,2015-12-29 23:32:35+00:00,This is Jimothy. He's a Trinidad Poliwhirl. Fa...,12,Jimothy,None,None,None,None,2601,922

##### _Define_
_**Dropping the `text` column**: I figured there would be no need for the text column because the name of the dog already has it's column as well as the ratings_
##### _Code_

In [48]:
# data.drop("text", axis = 1, inplace = True)

##### _Test_

In [49]:
# clean_test(data)

In [50]:
data.sample(10)

,tweet_id,timestamp,text,ratings,name,doggo,floofer,pupper,puppo,likes,retweets
2135,666411507551481857,2015-11-17 00:24:19+00:00,This is quite the dog. Gets really excited whe...,2,quite,None,None,None,None,371,262
918,735256018284875776,2016-05-24 23:47:49+00:00,This is Kellogg. He accidentally opened the fr...,8,Kellogg,doggo,None,None,None,3076,804
1682,675147105808306176,2015-12-11 02:56:28+00:00,When you're presenting a group project and the...,4,None,None,None,None,None,842,200
1887,670838202509447168,2015-11-29 05:34:25+00:00,Pink dogs here. Unreasonably long necks. Left ...,1,None,None,None,None,None,984,599
1893,670815497391357952,2015-11-29 04:04:12+00:00,This is Sage. He likes to burn shit. 10/10 htt...,10,Sage,None,None,None,None,2792,1323
879,740995100998766593,2016-06-09 19:52:53+00:00,This is Leo. He's a vape god. Blows o's for da...,10,Leo,None,None,None,None,5839,2478
851,744995568523612160,2016-06-20 20:49:19+00:00,This is Abby. She got her face stuck in a glas...,9,Abby,None,None,None,puppo,2752,569
5,891087950875897856,2017-07-29 00:08:17+00:00,Here we have a majestic great white breaching ...,13,None,None,None,None,None,17815,2602
1006,717841801130979328,2016-04-06 22:29:56+00:00,This is Barclay. His father was a banana. 11/1...,11,Barclay,None,None,None,None,2281,545
817,748220828303695873,2016-06-29 18:25:21+00:00,Stop what you're doing and watch this heckin m...,13,None,None,None,None,None,13163,7128

In [51]:
images_clean.sample(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
760,688828561667567616,https://pbs.twimg.com/media/CY816snW8AYltrQ.jpg,1,Cardigan,0.614231,True,skunk,0.139392,False,toilet_tissue,0.031158,False
1220,743980027717509120,https://pbs.twimg.com/media/ClMl4VLUYAA5qBb.jpg,1,bull_mastiff,0.975730,True,Rhodesian_ridgeback,0.008073,True,pug,0.005571,True
587,679062614270468097,https://pbs.twimg.com/media/CWyD2HGUYAQ1Xa7.jpg,2,cash_machine,0.802333,False,schipperke,0.045519,True,German_shepherd,0.023353,True
96,667724302356258817,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,1,ibex,0.619098,False,bighorn,0.125119,False,ram,0.074673,False
236,670428280563085312,https://pbs.twimg.com/media/CU3W9ELWEAEdUA0.jpg,1,chow,0.335269,True,golden_retriever,0.305850,True,Tibetan_mastiff,0.063325,True
77,667437278097252352,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,1,porcupine,0.989154,False,bath_towel,0.006300,False,badger,0.000966,False
833,693942351086120961,https://pbs.twimg.com/media/CaFg41YWkAAdOjy.jpg,1,groenendael,0.550796,True,Norwegian_elkhound,0.154770,True,schipperke,0.080802,True
271,670823764196741120,https://pbs.twimg.com/media/CU8-puBWwAAR8Xl.jpg,1,Labrador_retriever,0.947453,True,German_short-haired_pointer,0.017001,True,Weimaraner,0.015432,True
288,671159727754231808,https://pbs.twimg.com/media/CVBwNjVWwAAlUFQ.jpg,1,pitcher,0.117446,False,sunglasses,0.062487,False,mask,0.059517,False
1633,805932879469572096,https://pbs.twimg.com/media/Cy8_qt0UUAAHuuN.jpg,1,Norwegian_elkhound,0.657967,True,keeshond,0.319136,True,Leonberg,0.007947,True

<a id='analysis'></a>
## Data Analysis and Visualization

<a id='q1'></a>
#### Do the ratings influence the likes and retweets?

In [52]:
data.ratings.value_counts()

12      485
10      426
11      410
13      296
9       149
8       100
7        50
14       40
6        35
5        33
3        28
2        24
4        24
1        13
0         7
31        2
100       2
50        2
17        2
80        2
420       2
2015      2
97        1
121       1
143       1
61        1
88        1
20        1
92        1
144       1
44        1
22        1
2016      1
2003      1
15        1
33        1
165       1
60        1
400       1
45        1
204       1
47        1
1776      1
2002      1
46        1
98        1
24        1
84        1
960       1
182       1
236       1
150       1
1949      1
Name: ratings, dtype: int64